* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font: bold 12px Arial, Helvetica, sans-serif;
    background-color: black;
    background-image: url('my-app/public/images/Bg_image.jpg'); /* Replace with the correct path to your background image */
    background-size: cover;
    background-position: center;
}

.clock {
    border: 1px solid #606060;
    color: white;
    padding: 40px;
    border-radius: 10px;
    background-color: rgba(34, 34, 34, 0.8); /* Semi-transparent background for readability */
}

#date {
    font-size: 20px !important;
    text-align: center;
}

.clock ul {
    list-style: none;
    display: flex;
    font-size: 90px;
    gap: 15px;
    
}
